@import "reset.css";
@import "status-bar.css";
@import "variables.css";

/* font family 라는 property 사용 */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}   

 .welcome-header {
     margin: 90px 0px;
     text-align: center;
     /* display: flex를 쓸 수도 잇지만 h1과 p 같은 텍스트를 다루는 것이라서 text-align: center 쓴다 */
     display: flex; 
     flex-direction: column;
     align-items: center;
     /* 헤더 안에 다 센터로 만들어줌 */
 }

 /* welcome과 그 아래 텍스트 공간 지정 */
 .welcome-header__title {
     margin-bottom: 20px ;
     font-size: 25px;
     font-weight: 350;
 }

 .welcome-header__text {
     width: 40%;
     opacity: 0.7;
 }

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
    transition: border-color .3s ease-in-out;
}


/* placeholder 부분 글씨 설정 */
#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

/* #login-form input: focus { } 말고 모든 인풋에 적용되게 css 적용하고 싶음 reset.css 파일 열어서 마지막 부분에다가 코드 적어준다.*/

/* 마우스로 클릭했을 때 border-bottom 색상 바뀌도록 설정하기 */
#login-form input:focus {
    border-color: var(--yellow);
}
